.navigation{
    background-color: white;
   
}
.logo-image{
    width: 100px;
   
}
.logo{
    width: 250px;
    padding-bottom: 0;
    padding-top: 20px;
}
.logo p{
    font-size: 13px;
    font-weight: 450;
}
@media (max-width: 600px) {
    .custom-navigation{
        opacity: 0;
    }
  }