.project{
    width: 250px;
    height: 400px;
    
}
.project-image{
    width: 250px;
    height: 250px;
    border-radius: 7px;
    box-shadow: 10px 10px 5px 0px rgb(192, 190, 190);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    
}
.project-image:hover{
    opacity: 1;
}
.project-image img{
    width: 100%;
    height: 100%;
}
.project p{
    font: optional;
    font-size: 12px;
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    font-weight: 450;
}
.project-holder{
    display: flex;
    justify-content: space-around;
}
.title-and-link{
   opacity: 0;
   position: relative;
   top: 30%
}

.title-and-link a{
    text-decoration: none;
    color: black;
    padding: 7px 20px;
    background-color: white;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
}
.title-and-link h6{
    color: white;
    padding: 10px; 
}