.header-image{
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
.header-image div{
    width: 300px;
    position: relative;
    left: 40%;
    top: 88%;
}
.header-image h6{
    color: #333;
    background-color: white;
    padding: 15px;
}
.project-detail-description{
    margin-top: 20px;
    text-align: left;
}
.project-detail-description p{
    font-size: 13px;
}
.project-detail-main{
    text-align: left;
}
.project-detail-main h6{
    color: #4486f4;
}
.project-detail-type-and-link span{
    padding-right: 10px;
    font-weight: 600;
}
.project-detail-type-and-link span a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 200;
    
}
.project-detail-type-text{
    font-size: 13px;

}

.project-Mini-Card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgb(192, 190, 190);
}
.contributer{
    box-shadow: 10px 10px 5px 0px rgb(224, 222, 222);
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social-media-icon{
    color: red;
    font-size: 25px;
}
.back-to-project-btn{
   background-color: rgb(14, 14, 14);
   color: white;
   padding: 8px 20px;
   border-radius: 20px;
   cursor: pointer;
   text-decoration: none;
}
.back-to-project-btn:hover{
    background-color: #333;
    color: white;
}
.contributors{
    margin-top: 40px;
}

@media (max-width: 1000px) {
    .header-image div {
      position: relative;
      left: 30% ;
      top: 95%;
    }
  }
@media (max-width: 550px) {
    .header-image div {
      position: relative;
      left: 10%;
      top: 95%;
    }
  }

@media (max-width: 360px) {
    .header-image div {
      position: relative;
      left: 3% ;
    }
    .contributors{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
  }
 